.col-2 {
  grid-column: 2/3;
  grid-column-start: 1;
}

.button p {
  font-size: 1rem;
  font-weight: bold;
}

.button-container {
  width: 100%;
  box-shadow: 3px 3px 3px gray;
}

.button-container button:active {
  transform: translateY(4px);
}



.button-container button {
  width: 100%;
}